[user]
	name = Raphael P. Ribeiro
	email = raphaelpr01@gmail.com
[credential]
	helper = cache --timeout=3600

[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[core]
  editor = nvim
	excludesfile = /home/raphael/.gitignore_global
[alias]
  aa = add -A
  ap = add --patch
  df = diff
  dc = diff --cached
  st = status -sb
  ci = commit
  cia = commit --amend
  co = checkout

  ff = merge --ff-only origin/master
  pom = push origin master

  s = stash
  sa = stash apply
  sl = stash list
  sp = stash pop
  ss = stash save
  sc = stash clear

  l = log --pretty=format:"%C(yellow)%h%C(blue)\\ [%cn]\\ %C(green)%ad%C(red)%d\\ %C(reset)%s" --decorate --date=relative
  ll = log --pretty=format:"%C(yellow)%h%C(blue)\\ [%cn]\\ %C(green)%ad%C(red)%d\\ %C(reset)%s" --decorate --numstat
  lll = log -u
  pl = pull --ff-only
[push]
	default = tracking
[gitreview]
	raphapr = raphapr
[github]
	user = raphapr
[diff]
	renames = copies
[merge]
	stat = true
