Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: default

! Deps: urxvt-perls, urxvt-font-size-git (AUR), ttf-dejavusansmono-powerline-git (AUR)

!! URxvt

URxvt*title: urxvt
URxvt*termName: screen-256color
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,font-size
URxvt.scrollBar: false
URxvt.letterSpace: -2
URxvt.font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:size=9:antialias=true:hinting=true
URxvt*saveLines: 5000
URxvt.urlLauncher: /usr/bin/xdg-open
URxvt*iso14755: False
URxvt*iso14755_52: False
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 2

!! tabbdex

!URxvt.tabbed.autohide: true
!URXvt.tabbed.reopen-on-close: yes
!URxvt.tabbed.no-tabbedex-keys: true
!URxvt.keysym.Control-t: perl:tabbedex:new_tab
!URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
!URxvt.keysym.Control-Shift-Left: perl:tabbedex:move_tab_left
!URxvt.keysym.Control-Shift-Right: perl:tabbedex:move_tab_right
!URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab

!! tabbedex colors

!URxvt.tabbed.tabbar-fg:   244
!URxvt.tabbed.tabbar-bg:   16
!URxvt.tabbed.tab-fg:      255
!URxvt.tabbed.tab-bg:      52
!URxvt.tabbed.bell-tab-fg: 255
!URxvt.tabbed.bell-tab-bg: 160
!URxvt.tabbed.bell-fg:     244
!URxvt.tabbed.bell-bg:     17
!URxvt.tabbed.title-fg:    28
!URxvt.tabbed.title-bg:    16

! font size on the fly

URxvt.keysym.C-S-Up:     perl:font-size:increase
URxvt.keysym.C-S-Down:   perl:font-size:decrease

! Keyboard Select

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! Clipboard

URxvt.clipboard.copycmd:  xclip -sel clip
URxvt.clipboard.pastecmd: xclip -sel clip -o

URxvt.keysym.Control-Shift-C:   perl:clipboard:copy
URxvt.keysym.Control-Shift-V:   perl:clipboard:paste
URxvt.keysym.M-v:   perl:clipboard:paste_escaped

! URL

URxvt.matcher.button: 1
URxvt.colorUL: #4682B4

! URL without mouse
! NEED: urxvt-perls

URxvt.perl-ext: default,url-select
URxvt.keysym.C-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! ctrl arrows

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! Function keys

*URxvt*keysym.F1:\033OP
*URxvt*keysym.F2:\033OQ
*URxvt*keysym.F3:\033OR
*URxvt*keysym.F4:\033OS             

!! colorscheme

! to match gnome-terminal "Linux console" scheme
! foreground/background
URxvt*background: #000000
URxvt*foreground: #ffffff
! black
URxvt.color0  : #000000
URxvt.color8  : #555555
! red
URxvt.color1  : #AA0000
URxvt.color9  : #FF5555
! green
URxvt.color2  : #00AA00
URxvt.color10 : #55FF55
! yellow
URxvt.color3  : #AA5500
URxvt.color11 : #FFFF55
! blue
URxvt.color4  : #0000AA
URxvt.color12 : #5555FF
! magenta
URxvt.color5  : #AA00AA
URxvt.color13 : #FF55FF
! cyan
URxvt.color6  : #00AAAA
URxvt.color14 : #55FFFF
! white
URxvt.color7  : #AAAAAA
URxvt.color15 : #FFFFFF

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.font:              SFNS Display 53 
rofi.color-enabled:     true
rofi.color-window:      argb:B3000000, argb:B3000000, argb:E6ffffff
rofi.color-normal:      argb:00000000, argb:969896B3, argb:00000000, argb:00000000, argb:FFFFFFFF 
rofi.color-urgent:      argb:00282a2e, argb:FFcc6666, argb:00282a2e, argb:ffcc6666, argb:e61d1f21
rofi.color-active:      argb:00282a2e, argb:FF81a2be, argb:00282a2e, argb:ff81a2be, argb:e61d1f21
rofi.separator-style:   solid
rofi.fullscreen:        true
rofi.padding:           650
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.yoffset:           0
rofi.xoffset:           0
rofi.lines: 12 
