[Unit]
Description=Reset and reload ath11k_pci after resume
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'echo 1 > /sys/bus/pci/devices/0000:02:00.0/reset'
ExecStart=/usr/bin/modprobe ath11k_pci
ExecStartPost=/usr/bin/systemctl try-restart NetworkManager.service
TimeoutStartSec=300

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
