[Unit]
Description=Unload ath11k_pci before sleep
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe -r ath11k_pci
TimeoutStartSec=300

[Install]
WantedBy=sleep.target
