[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=%h/.cargo/bin/mise exec -- kanata
ExecStartPost=/bin/sh -c 'sleep 5; /usr/bin/xset r rate 240 30'
Restart=no

[Install]
WantedBy=default.target
