[Unit]
Description=mopidy
After=network.target sound.target

[Service]
Type=simple
ExecStart=/usr/bin/mopidy --quiet --save-debug-log
Restart=always
Restart=on-failure


[Install]
WantedBy=default.target
