[Unit]
Description=mopidy
After=network.target sound.target

[Service]
Type=simple
ExecStart=/usr/bin/mopidy --save-debug-log

[Install]
WantedBy=default.target
